#output_img{
    padding: 10px;
    border-top-left-radius: 30px; 
    max-height: 160px;
}
.articles2{
    /* float: left; */
       /* display: inline-flex; */
       /* height: 250px; */
}
#blog_img{
    height: 200px !important;
    
}
#edit_link{list-style-type:none; text-decoration: none; }
#span_edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
#span_edit:hover{
    background-color: blue;
    cursor:pointer;
}
#edit_link:hover{cursor:pointer}

#search_articles{
    /* border: 1px solid coral;
    margin-left: 40%;
    position: absolute;
    z-index: 99;
    background-color: #8bbafd;
    border-left-style: groove;
    width: 57%; */
}